<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmrent | Edit Equipment</title>
    <link rel="stylesheet" href="{% static 'edit.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap' rel='stylesheet'>
</head>

<body>
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="/rentalmanagerpage">Home</a></li>
                <li><a href="/addequipment">Add Equipment</a></li>
                <li><a href="/editequipment">Edit Equipment Details</a></li>
                <li><a href="/handlelogout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h2>Edit Your Equipment</h2>
        <div class="form-section">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="update-button">Update Equipment</button>
            </form>

            <form method="post" action="/delete/{{eq.equipment_id}}" class="delete-form">
                {% csrf_token %}
                <button type="submit" class="delete-button">Delete</button>
            </form>
        </div>
    </div>
</body>

</html>